@model AlbumOdev.Models.MAlbum

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>MAlbum</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlbumNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlbumNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlbumTur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlbumTur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SanatciBilgi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SanatciBilgi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlbumAdi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlbumAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlbumFiyat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlbumFiyat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Yerli)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Yerli)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="AlbumID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
